*,
*::before,
*::after {
	box-sizing: border-box;
}

body,
div,
span,
applet,
object,
iframe,
button,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}

body {
	--ratio: 1.4;
	--s-5: calc(
		var(--s0) / var(--ratio) / var(--ratio) / var(--ratio) / var(--ratio) /
			var(--ratio)
	);
	--s-4: calc(
		var(--s0) / var(--ratio) / var(--ratio) / var(--ratio) / var(--ratio)
	);
	--s-3: calc(var(--s0) / var(--ratio) / var(--ratio) / var(--ratio));
	--s-2: calc(var(--s0) / var(--ratio) / var(--ratio));
	--s-1: calc(var(--s0) / var(--ratio));
	--s0: 1rem;
	--s1: calc(var(--s0) * var(--ratio));
	--s2: calc(var(--s0) * var(--ratio) * var(--ratio));
	--s3: calc(var(--s0) * var(--ratio) * var(--ratio) * var(--ratio));
	--s4: calc(
		var(--s0) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio)
	);
	--s5: calc(
		var(--s0) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) *
			var(--ratio)
	);
	--measure: 75ch;
	--color-white: #fef9ef;
	--color-light: #ffcb77;
	--color-lightish: #fe6d73;
	--color-dark: #1b3022;
	--color-darkish: #227c9d;
	--color-mid: #17c3b2;
	--line-height: var(--ratio);
	--font-size-base: var(--s0);
	--font-size-biggish: var(--s1);
	--font-size-big: var(--s2);
	line-height: var(--line-height);
	background-color: var(--color-white);
	color: var(--color-dark);
	font-size: var(--font-size-base);
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
		sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
}

* {
	max-width: var(--measure);
}

html,
body,
div,
header,
nav,
main,
footer,
aside,
section,
article {
	max-width: none;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

/* BEGIN CODE BLOCK FOR PINNING FOOTER TO BOTTOM OF PAGE */

body,
#svelte,
main {
	min-height: 100vh;
}

html {
	height: 100vh;
}

main {
	display: flex;
	flex-direction: column;
}

main > * {
	flex: 1 0 auto;
}

footer {
	flex-shrink: 0;
}

/* END CODE BLOCK FOR PINNING FOOTER TO BOTTOM OF PAGE */

figure {
	/* Safari hack to prevent bottom gap between figure and image */
	line-height: 0;
}

img {
	max-width: 100%;
}

button {
	color: white;
	background-color: #000;
	border-radius: 0.25rem;
	padding: 1em 1.5em;
}

h1 {
	font-size: var(--font-size-big);
}

h2 {
	font-size: var(--font-size-biggish);
}

h3 {
	font-weight: 600;
}

ul {
  list-style: none;
}

.flex {
	display: flex;
}

.screen-reader-only {
	position: absolute !important;
	clip: rect(1px, 1px, 1px, 1px) !important;
	padding: 0 !important;
	border: 0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden !important;
}
